.videoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: white;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 10px;
}

.videoSidebarOptions {
  padding: 20px;
  text-align: center;
}